<!DOCTYPE html>
<html>
<head>
    <title>Primeiro projeto Spring Boot</title>
</head>
<body>
<h1 th:text="${message}">Primeiro projeto Spring Boot</h1>
<iframe width="640" height="360" frameborder="0" src="https://mega.nz/embed/XQlxwQIB#Z1MdB_Q17hqpaHSHDGQ33r4WrflXai_fgwFwvXHzliI" allowfullscreen ></iframe>
<iframe width="640" height="360" frameborder="0" src="https://mega.nz/embed/OJ1RjCQa#5OJNZAq7W-mLWk0ZC6YAY8HJR3_IzgIi0vyUqpB5LeM" allowfullscreen ></iframe>
<iframe width="640" height="360" frameborder="0" src="https://mega.nz/embed/nBkV3Y6I#cuoZbGWTGFIBgK-ITZtw71cwG_B5PREKPVyNFgeu42U" allowfullscreen ></iframe>
<iframe width="640" height="360" frameborder="0" src="https://mega.nz/embed/7I13xbgC#0AM6-RlhFgOAPG-UvXhQr13UG-ioHyWeGgj6Gpr6U14" allowfullscreen ></iframe>
<iframe width="640" height="360" frameborder="0" src="https://mega.nz/embed/3V13zLbL#ZmRNb-um-ESToJskdzdUn-Yn87GfSRlK5pokimxjuQo" allowfullscreen ></iframe>
<iframe width="640" height="360" frameborder="0" src="https://mega.nz/embed/aZ1QhADJ#NsaUNpDuXBA-6OAyCDjMnDlzEJiXWJU3Z-JknvgVqvU" allowfullscreen ></iframe>
</body>
</html>
